<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/e5e9671f-7a0c-4dad-99f1-485a960cd8a6/resourcegroups/ReelJettGroup/providers/Microsoft.Web/sites/ReelJettWebAPI1</ResourceId>
    <ResourceGroup>ReelJettGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://reeljettwebapi1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>049e15da-4aec-4e25-8e87-fba60ee2dc89</ProjectGuid>
    <PublishUrl>https://reeljettwebapi1.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ReelJettWebAPI1</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>