<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/f8eb69fb-9310-478f-9f07-4b23110d8735/resourceGroups/ReelJett/providers/Microsoft.ApiManagement/service/ReelJettAPI/apis/ReelJettWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/f8eb69fb-9310-478f-9f07-4b23110d8735/resourceGroups/ReelJett/providers/Microsoft.Web/sites/reeljett</ResourceId>
    <ResourceGroup>ReelJett</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://reeljett.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>049e15da-4aec-4e25-8e87-fba60ee2dc89</ProjectGuid>
    <PublishUrl>https://reeljett.scm.azurewebsites.net/</PublishUrl>
    <UserName>$reeljett</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>